# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

Arduino_M1_MQTT/.vscode/arduino.json

Arduino_M1_MQTT/.vscode/c_cpp_properties.json

Arduino_M1_MQTT/00002181-cert.zip

Arduino_M1_MQTT/00002181-cert/00002181/cert.pem

Arduino_M1_MQTT/00002181-cert/00002181/certDER.c

Arduino_M1_MQTT/00002181-cert/00002181/Get-HexDump.ps1

Arduino_M1_MQTT/00002181-cert/00002181/privkey.dat

Arduino_M1_MQTT/00002181-cert/00002181/privkey.pem

Arduino_M1_MQTT/00002181-cert/00002181/pubkey.pem

Arduino_M1_MQTT/Arduino_M1_MQTT.ino

Arduino_M1_MQTT/GSMSecurity.cpp

Arduino_M1_MQTT/GSMSecurity.h

Arduino_M1_MQTT/MICcertificates00002181.h

Arduino_M1_MQTT/PubSubClient.cpp

Arduino_M1_MQTT/PubSubClient.h

Arduino_M1_MQTT/README.md
/Resources
/Google Healthcare/GoogleHealthcareTestConsoleApp/obj
/Google Healthcare/GoogleHealthcareTestConsoleApp/.vs/GoogleHealthcareTestConsoleApp/DesignTimeBuild
/Google Healthcare/GoogleHealthcareTestConsoleApp/.vs/GoogleHealthcareTestConsoleApp/v16/Server/sqlite3
/CAD
